<div class="row">
    <div class="col-md-8">
        <h1>Welcome!</h1>
        <p>This is an example app using angularjs and twitter bootstrap</p>
        <p><a href="style-guide.html">View the style guide</a></p>
    </div>
    <div class="col-md-4" ng-show="!loggedIn">
        <h1>Login</h1>
        <form role="form login">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" ng-model="username" placeholder="Username" />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" ng-model="password" placeholder="Password" />
            </div>
            <button type="submit" class="btn btn-primary" ng-click="login()">Login</button>
        </form>
    </div>
</div>