/**
 * App
 * @class app
 */

body {
    padding-top: 50px;
}

.app {
    
}

/* login */



/* user */

.app .user {
    padding: 8px 0 0 0;
}

.app .user .dropdown-toggle {
    color: #fff;
}

.app .user img {
    margin: 0 8px 0 0;
}