/**
 * Item
 * @class item styling
 */

.item {

}

.item img {
    max-width: 100%;
}

.item .section {
    clear: both;
}

.item timecode {
    display: inline-block;
    margin: 0 0 10px 0;
}

.item timecode input {
    width: 28px;
    margin: 0 2px 0 2px;
    padding: 2px 5px;
    border: none;
    background-color: #eee;
}