<div class="row items" ng-controller="items">
    <div class="col-md-8">
        <div class="row">
            <div class="col-xs-8">
                <h1>Items</h1>
            </div>
            <div class="col-xs-4">
                <p>&nbsp;</p>
                <input type="text" class="form-control" ng-model="filters.name" placeholder="Name" ng-change="currentPage=1" />
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-md-1"><a href="" ng-click="predicate='id';reverse=!reverse">#</a></th>
                    <th class="col-md-6"><a href="" ng-click="predicate='name';reverse=!reverse">Name</a></th>
                    <th class="col-md-3"><a href="" ng-click="predicate='category';reverse=!reverse">Category</a></th>
                    <th class="col-md-2"><a href="" ng-click="predicate='date';reverse=!reverse">Date</a></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in data.items | filter:filters | orderBy:predicate:reverse | startFrom:(currentPage-1)*pageSize | limitTo:pageSize" ng-class="{info:id==item.id}">
                    <td>{{ item.id || 'None' }}</td>
                    <td><a ui-sref="items.view({id:item.id})">{{ item.name || 'None' }}</a></td>
                    <td>{{ item.category || 'None' }}</td>
                    <td>{{ item.date | date: 'MM/dd/yyyy' || 'None' }}</td>
                </tr>
            </tbody>
        </table>
        <pagination total-items="totalItems" items-per-page="pageSize" ng-model="currentPage"></pagination>
    </div>
    <div class="col-md-4">
        <div ui-view="sidebar">
            <div class="filters">
                <h1>Filters</h1>
                <h4>Category</h4>
                <p>
                    <a href="" ng-class="{active:filters.category==''}" ng-click="filter('category', '')">All</a> / 
                    <a href="" ng-class="{active:filters.category=='music'}" ng-click="filter('category', 'music')">Music</a> / 
                    <a href="" ng-class="{active:filters.category=='film'}" ng-click="filter('category', 'film')">Film</a> / 
                    <a href="" ng-class="{active:filters.category=='tv'}" ng-click="filter('category', 'tv')">TV</a>
                </p>
                <h4>Date</h4>
                <p>
                    <a href="" ng-class="{active:filters.date==''}" ng-click="filter('date', '')">All</a> /
                    <a href="" ng-class="{active:filters.date=='day'}" ng-click="filter('date', 'day')">Day</a> /
                    <a href="" ng-class="{active:filters.date=='week'}" ng-click="filter('date', 'week')">Week</a> /
                    <a href="" ng-class="{active:filters.date=='month'}" ng-click="filter('date', 'month')">Month</a>
                </p>
            </div>
        </div>
    </div>
</div>