<div class="row items" ng-controller="items">
    <div class="col-md-8">
        <div class="row">
            <div class="col-xs-8">
                <h1>Items</h1>
            </div>
            <div class="col-xs-4">
                <p>&nbsp;</p>
                <input type="text" class="form-control" ng-model="filters.name" placeholder="Name" ng-change="filterChange()" />
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><a href="" ng-click="predicate='id';reverse=!reverse">#</a></th>
                    <th><a href="" ng-click="predicate='name';reverse=!reverse">Name</a></th>
                    <th><a href="" ng-click="predicate='category';reverse=!reverse">Category</a></th>
                    <th><a href="" ng-click="predicate='date';reverse=!reverse">Date</a></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in items | filter:{name:filters.name,category:filters.category} | orderBy:predicate:reverse | startFrom:currentPage*pageSize | limitTo:pageSize">
                    <td>{{ item.id || 'None' }}</td>
                    <td><a ui-sref="items.view({id:item.id})">{{ item.name || 'None' }}</a></td>
                    <td>{{ item.category || 'None' }}</td>
                    <td>{{ item.date | date: 'MM/dd/yyyy' || 'None' }}</td>
                </tr>
            </tbody>
        </table>
        <pagination total-items="totalItems" ng-model="currentPage"></pagination>
    </div>
    <div class="col-md-4">
        <div ui-view="sidebar">
            <div class="filters">
                <h1>Filters</h1>
                
                <h3>Category</h3>
                <p><a href="" ng-click="filters.category=''">All Categories</a></p>
                <p><a href="" ng-click="filters.category='music'">Music</a></p>
                <p><a href="" ng-click="filters.category='film'">Film</a></p>
                <p><a href="" ng-click="filters.category='tv'">TV</a></p>
            </div>
        </div>
    </div>
</div>